@font-face {
  font-family: newfont;
  src: url(/template/font/bpg-arial-caps-webfont.ttf);
}
.NavbarContainer{
    justify-content: center !important;
}

.userIcon{
    position: absolute;
    right: 20px;
    color: #18a9d4;
    font-size: 30px;
    cursor: pointer;
}
.Searchinput{
    border-radius: 50px;
    width: 0px;
    padding: 0px;
    height: 30px;
    border: 0px !important;
    white-space: nowrap;
    transition: width ease 250ms;
    overflow: hidden;
    position: absolute;
    right: 120px;
    top: 10px;
}
.SearchIcon{
    position: relative;
    top: 15px;
    right: 100px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .container-fluid{
      padding-left: 300px;
  }
  .CategoryBar{
    height: 100%;
    position: fixed;
    background-color: #3e6780!important;
    overflow: auto;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3e6780  !important;
}

.CategoryList{
    top: 10px;
    position: relative;
}

.CategoryList li,
.userCategoryList li,
.CategoryListModal li{
    margin-top: 5px;
    position: relative;
}
.logoutIcon{
    /* position: absolute;
    right: 20px; */
    color: #1f74df;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

.NavMenu{
  position: absolute;
  right: 30px;
  top: 7px;
}

.dropbtn {
  background-color: #1f5881;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  line-height: 1;
  width: 40px;
  height: 40px;
}

/* .dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 222px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  font-size: 14px;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.NavMenuSpan{pointer-events: none;}

.SiteTitle{
  position: absolute;
  left: 50px;
  color: white;
  font-weight: bold;
}

.CategoryMenuDiv{
  width: 28px;
  white-space: nowrap;
  transition: width ease 250ms;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 6px;
}

.CategoryMenuDiv button {
  color: black !important;
  background: transparent;
  border: none;
  outline: none;
  user-select: none;
  width: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toast-body{
  font-weight: bold;
  font-size: 16px;
}
.showtoast{
  /* background-color: #41c852 !important; */
  right: 20px !important;
  bottom: 20px!important;
}

.imgUpload{
  margin: 0;
  padding: 24px;
  text-align: center;
  cursor: pointer;
  width: 150px !important;
  height: 100px !important;
  border: 2px dashed #b6daf9 !important;
  position: relative;
  top: 10px;
}

.imgUpload input{
  display: none;

}

.images{
  display: flex;
  padding-left:11px;
}

.containerImg{

  width:150px;
  height:100px;
  margin:0;
  position:relative;
  right:15px;
}

.message{
  display: flex;
}

.overlay{
  position:absolute;
  top:0;
  left:13px;
  width: 150px;
  height:100px;
  background:transparent;
  transition:background 0.5s ease;
}

.containerImg:hover .overlay {
background-color:rgba(0,0,0,0.3);
opacity:0.5;
}
.containerImg:hover .input {
opacity: 1;
}
.containerImg{
  margin-left:16px;
  margin-top:10px;
}

.images img{
  width:150px;
  height: 100px;
  object-fit: cover;
  margin:0;
  padding:0;
}

.input{
    position: absolute;
    width: 150px;
    left: 1;
    top: 38px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.input:hover{
  opacity:1;
}


.showRestImg{
  color:#43F149;
}

.CheckRestImg{
  color:#FEF64F ;
}
.deleteNewRestImg{
  color:#FC0000;
}

.dish-icon{
  margin-left:10px;
  font-size: 35px;
  cursor: pointer;
}


.ProductFooter{
  display:flex;
  justify-content:space-between;
}

.addPhoto{
  background-color:#0d6efd;
  color:white;
  padding:7px 10px;
  border-radius: 5px;
  transition: background-color 0.15s;
}

.addPhoto:hover{
  background-color: #115fd4;
  cursor:pointer;
}

.headerForProducts{
  display: flex;
  justify-content: space-between;
  margin:15px;
  font-family: newfont;
}

.ProductUpload{
  font-size: 15px;
  background-color:#2e72a3 !important;
  font-weight: bold;
  padding-top:0px;
  color:white;
  width:250px;
  border-radius: 10px !important;
  width: 250px;
  height: 50px;
}

.ProductUpload:hover{
  color:white;
  background-color: #175683 !important;
}

.icon {
  position: relative;
  top: 7px;
  margin-right:5px;
}

.make_bold{
  font-weight: 800;
}

.otherfont{
  font-family: newfont;
}

.TreeCollapse{
  width: 220px;
  top: 17px;
  position: relative;
  left: 18px;
  bottom: 14px;
}

#ProductTree{
  position: relative;
  bottom: 5px;
  border: 2px solid #60a7ef !important;
}

.make_left_border{
  border-left: 1px dashed black;
  min-height:380px;
}

.inputForProducts{
  margin-bottom:13px;
  border:#619ffc 2px solid;
  border-radius: 5px !important;
}

.inputForProducts:hover{
  border-color: #1a73f8;
}


.input_title{
  font-weight: 500 !important;
}

#images{
  margin-left:15px;
}
.CategoryListModal{
  top: -25px;
  position: relative;
}
#CategoryId,
#CategoryPlaceId{
  border: 3px solid #66aff7 !important;
}

.SaveBtn{
  position: relative;
  float: right;
  right: 10px;
  background-color: #0d6efd;
}

.addCategoryIcon{
  color: green;
  font-weight: bold;
  position: relative;
  right: 0px;
  /* top: 37px; */
  font-size: 40px;
  cursor: pointer;
}

.Rest-images{
  border-radius: 3px;
  border: 5px solid rgb(72, 188, 232); 
}

.main{
    position: absolute;
    top: 76px;
    background-color: rgb(72, 188, 232);
    width: 100%;
    text-align: center;
    color: white;
    border-radius:3px;
}

.modal-header{
  background-color:#0981d6 !important;
}

.hidden{
  display: none;
}


/* #2d69a7 - აჩიას ფერი*/

.CategoryModal{
  height: 600px;
  overflow: auto;
}

.CategoryAddButton{
  height: 40px;
  border: none;
  background: transparent;
}